// Fonts

// Transform
// =============================================================================

.capital {
    text-transform: capitalize !important;
}
.uppercase {
    text-transform: uppercase !important;
}
.lowercase {
    text-transform: lowercase !important;
}

// Size
// =============================================================================

.tiny {
    font-size: 10px !important;
}
.small {
    font-size: 12px !important;
}
.medium {
    font-size: 14px !important;
}
.large {
    font-size: 18px !important;
}
.xlarge {
    font-size: 24px !important;
}
.xxlarge {
    font-size: 36px !important;
}
.xxxlarge {
    font-size: 48px !important;
}
.jumbo {
    font-size: 64px !important;
}

// Font Family
// =============================================================================

// Serif
.serif {
    font-family: $serif !important;
}
.georgia {
    font-family: $georgia !important;
}
.palatino {
    font-family: $palatino !important;
}
.times {
    font-family: $times !important;
}

// Sans-Serif
.sansserif {
    font-family: $sansserif !important;
}
.arial {
    font-family: $arial !important;
}
.arialblack {
    font-family: $arialblack !important;
}
.comicsans {
    font-family: $comicsans !important;
}
.impact {
    font-family: $impact !important;
}
.lucidasans {
    font-family: $lucidasans !important;
}
.tahoma {
    font-family: $tahoma !important;
}
.trebuchet {
    font-family: $trebuchet !important;
}
.verdana {
    font-family: $verdana !important;
}

// Monospace
.monospace {
    font-family: $monospace !important;
}
.courier {
    font-family: $courier !important;
}
.lucida {
    font-family: $lucida !important;
}

// Overflow
.overflow-hidden {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

// Description List
.desc-list dt {
    font-weight: 700;
}
.desc-list dd {
    margin-left: 2em;
}

// Mark
.mark,
.code,
.kbd {
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
}
// Code
.code {
    background: #eee;
}

// Keyboard
.kbd {
    color: #fff;
    background: #555;
}
