// Margin

// Top, Right, Bottom, Left
.no-margin {
    margin: 0 !important;
}
.margin-tiny {
    margin: 2px 4px !important;
}
.margin-small {
    margin: 4px 8px !important;
}
.margin-medium {
    margin: 8px 16px !important;
}
.margin-large {
    margin: 12px 24px !important;
}
.margin-xlarge {
    margin: 16px 32px !important;
}
.margin-xxlarge {
    margin: 24px 48px !important;
}
.margin-xxxlarge {
    margin: 32px 64px !important;
}
.margin-jumbo {
    margin: 48px 96px !important;
}

// Top
.no-margin-top {
    margin-top: 0 !important;
}
.margin-top-tiny {
    margin-top: 2px !important;
}
.margin-top-small {
    margin-top: 4px !important;
}
.margin-top-medium {
    margin-top: 8px !important;
}
.margin-top-large {
    margin-top: 12px !important;
}
.margin-top-xlarge {
    margin-top: 16px !important;
}
.margin-top-xxlarge {
    margin-top: 24px !important;
}
.margin-top-xxxlarge {
    margin-top: 32px !important;
}
.margin-top-jumbo {
    margin-top: 48px !important;
}

// Right
.no-margin-right {
    margin-right: 0 !important;
}
.margin-right-tiny {
    margin-right: 2px !important;
}
.margin-right-small {
    margin-right: 4px !important;
}
.margin-right-medium {
    margin-right: 8px !important;
}
.margin-right-large {
    margin-right: 12px !important;
}
.margin-right-xlarge {
    margin-right: 16px !important;
}
.margin-right-xxlarge {
    margin-right: 24px !important;
}
.margin-right-xxxlarge {
    margin-right: 32px !important;
}
.margin-right-jumbo {
    margin-right: 48px !important;
}

// Bottom
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.margin-bottom-tiny {
    margin-bottom: 2px !important;
}
.margin-bottom-small {
    margin-bottom: 4px !important;
}
.margin-bottom-medium {
    margin-bottom: 8px !important;
}
.margin-bottom-large {
    margin-bottom: 12px !important;
}
.margin-bottom-xlarge {
    margin-bottom: 16px !important;
}
.margin-bottom-xxlarge {
    margin-bottom: 24px !important;
}
.margin-bottom-xxxlarge {
    margin-bottom: 32px !important;
}
.margin-bottom-jumbo {
    margin-bottom: 48px !important;
}

// Left
.no-margin-left {
    margin-left: 0 !important;
}
.margin-left-tiny {
    margin-left: 2px !important;
}
.margin-left-small {
    margin-left: 4px !important;
}
.margin-left-medium {
    margin-left: 8px !important;
}
.margin-left-large {
    margin-left: 12px !important;
}
.margin-left-xlarge {
    margin-left: 16px !important;
}
.margin-left-xxlarge {
    margin-left: 24px !important;
}
.margin-left-xxxlarge {
    margin-left: 32px !important;
}
.margin-left-jumbo {
    margin-left: 48px !important;
}

// Auto
.m-auto {
    margin: auto !important;
}
.mt-auto,
.my-auto {
    margin-top: auto !important;
}
.mr-auto,
.mx-auto {
    margin-right: auto !important;
}
.mb-auto,
.my-auto {
    margin-bottom: auto !important;
}
.ml-auto,
.mx-auto {
    margin-left: auto !important;
}
