// Top, Right, Bottom, Left
.no-padding {
    padding: 0 !important;
}
.padding-tiny {
    padding: 2px 4px !important;
}
.padding-small {
    padding: 4px 8px !important;
}
.padding-medium {
    padding: 8px 16px !important;
}
.padding-large {
    padding: 12px 24px !important;
}
.padding-xlarge {
    padding: 16px 32px !important;
}
.padding-xxlarge {
    padding: 24px 48px !important;
}
.padding-xxxlarge {
    padding: 32px 64px !important;
}
.padding-jumbo {
    padding: 48px 96px !important;
}

// Top
.no-padding-top {
    padding-top: 0 !important;
}
.padding-top-tiny {
    padding-top: 2px !important;
}
.padding-top-small {
    padding-top: 4px !important;
}
.padding-top-medium {
    padding-top: 8px !important;
}
.padding-top-large {
    padding-top: 12px !important;
}
.padding-top-xlarge {
    padding-top: 16px !important;
}
.padding-top-xxlarge {
    padding-top: 24px !important;
}
.padding-top-xxxlarge {
    padding-top: 32px !important;
}
.padding-top-jumbo {
    padding-top: 48px !important;
}

// Right
.no-padding-right {
    padding-right: 0 !important;
}
.padding-right-tiny {
    padding-right: 2px !important;
}
.padding-right-small {
    padding-right: 4px !important;
}
.padding-right-medium {
    padding-right: 8px !important;
}
.padding-right-large {
    padding-right: 12px !important;
}
.padding-right-xlarge {
    padding-right: 16px !important;
}
.padding-right-xxlarge {
    padding-right: 24px !important;
}
.padding-right-xxxlarge {
    padding-right: 32px !important;
}
.padding-right-jumbo {
    padding-right: 48px !important;
}

// Bottom
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.padding-bottom-tiny {
    padding-bottom: 2px !important;
}
.padding-bottom-small {
    padding-bottom: 4px !important;
}
.padding-bottom-medium {
    padding-bottom: 8px !important;
}
.padding-bottom-large {
    padding-bottom: 12px !important;
}
.padding-bottom-xlarge {
    padding-bottom: 16px !important;
}
.padding-bottom-xxlarge {
    padding-bottom: 24px !important;
}
.padding-bottom-xxxlarge {
    padding-bottom: 32px !important;
}
.padding-bottom-jumbo {
    padding-bottom: 48px !important;
}

// Left
.no-padding-left {
    padding-left: 0 !important;
}
.padding-left-tiny {
    padding-left: 2px !important;
}
.padding-left-small {
    padding-left: 4px !important;
}
.padding-left-medium {
    padding-left: 8px !important;
}
.padding-left-large {
    padding-left: 12px !important;
}
.padding-left-xlarge {
    padding-left: 16px !important;
}
.padding-left-xxlarge {
    padding-left: 24px !important;
}
.padding-left-xxxlarge {
    padding-left: 32px !important;
}
.padding-left-jumbo {
    padding-left: 48px !important;
}
